@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face 
{
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/*

--cor1: #004346ff;
--cor2: #508991ff;
--cor3: #09bc8aff;
--cor4: #e9c46aff;
--cor5: #f4a261ff;

*/

*
 {
    margin: 0px;
    padding: 0px;
    
}

:root 
{
    --cor1:  rgb(26, 134, 139);
    --cor2:  #508991ff;
    --cor3:  rgb(196, 255, 240);
    --cor31: #b3feb7;   
    --cor4:  rgb(46, 123, 123);
    --cor5:  rgb(255, 209, 109);

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'Bebas Neue';
    --fonte-android: 'Android', 'Bebas Neue';
}

body
{
    background-color: var(--cor3);
    font-family: var(--fonte-padrão);  
    
}


main
{
    max-width: 960px;
    min-width: 400px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 0.9px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.309);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

main img
{
    width: 100%;

}



main img.pequena
{
    max-width: 350px;
    display: block;
    margin: auto;
}

main p
{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.2em;
    line-height: 2em;
}

main a 
{
    text-decoration: none;
    font-weight: bold;
}

header 
{
    background-image: linear-gradient(to bottom, var(--cor31), var(--cor1));
    color: aliceblue;
    text-shadow: 50px, black;
 
    
}
header > h1
{
    font-family: var(--fonte-destaque);
    margin: auto;
    text-align: center;
    min-height: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 2px  black;
    
    
}

header > p 
{

    margin-top: 10px;
    font-size: 1.5em;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    font-family: var(--fonte-destaque);  
    text-shadow: 2px 2px 2px  black;

}

nav 
{
    background-color: var(--cor4);
    padding: 10px;
    text-shadow: 2px 2px 2px  black;
}

nav > a 
{
color: white;
padding: 9px;
text-decoration: none;
font-weight: bold;
border-radius: 3px;
transition-duration: .5s;

}

nav > a:hover {

    background-color: var(--cor1);
    color: black;
    text-shadow: none;

}

article
{   
    box-shadow: 10px black;
    margin: 20px;

}

article > h1
{
    font-family: var(--fonte-android);
    margin-top: 2px;
    margin-bottom: 15px;
    

}

article > h2
{
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    text-indent: 5px;  

}

div 
{
    min-width: 100%;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
    
}

#videoyt
{    
    max-width: 100%;
    min-width: 100%;
    border-radius: 10px;
    position: relative;
}

aside{

    background-color: var(--cor31);
    padding: 10px;
    border-radius: 10px;
    border-top:
    box-shadow: 1px 1px 6px black;
}

aside > ul {

    list-style-type: '2714';
    list-style-position: inside;
    columns: 2;
    
    
}

aside > h3{

    background-color: var(--cor4);
    color:white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0 0;
    padding: 9px;
    
}

footer
{
    background-color: var(--cor1);
    color: white;
    text-align: center;
    padding: 8px;

}